        @charset "utf-8";
         :root {
            --main-bg-color: #222222;
            --main-color: #eeeeee;
            --alternate-bg-color: #444444;
            --alternate-color: #cccccc;
            --main-border-color: #AAAAAA;
            --table-header-bg-color: #e2e2e2;
            --link-color: #22ee22;
        }
        
        @media (prefers-color-scheme: light) {
             :root {
                --main-bg-color: white;
                --main-color: black;
                --alternate-bg-color: #efefef;
                --alternate-color: #222222;
                --main-border-color: #BBBBBB;
                --table-header-bg-color: #2e2e2e;
                --link-color: #22ee22;
            }
        }
        /**** Fonts *******/
        
        @font-face {
            font-family: abeatbykai;
            src: "abeatbykai.ttf";
        }
        
        @font-face {
            font-family: "Photograph Signature";
            font-style: normal;
            font-weight: normal;
            src: "Photograph Signature.ttf"
        }
        /************ HTML ****************/
        
        html {
            font-size: 1em;
            font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;
            line-height: 1.2em;
            background-color: var(--main-bg-color);
            color: var(--main-color);
        }
        /*********** Headers *************/
        
        h1,
        h2,
        h3 {
            display: block;
            text-align: center;
            font-family: "abeatbykai", "Myriad Pro", helvetica, sans-serif;
            font-style: normal;
            font-weight: lighter;
        }
        
        h1 {
            font-size: 1.5em;
            line-height: 1.2em;
        }
        
        h2 {
            font-size: 1.25em;
            line-height: 1.1em;
            color: var(--alternate-color);
        }
        
        h3 {
            font-size: 1.1em;
            line-height: 1em;
        }
        /************* Images **************/
        
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /************** Body ***************/
        
        body {
            margin: 0;
            padding: 1em;
            background-color: var(--main-bg-color);
            color: var(--main-color);
        }
        
        @media (max-device-width: 480px) {
            body {
                margin: auto;
            }
            table {
                width: 95%;
            }
        }
        
        @media (min-device-width: 481px) {
            body {
                margin: auto;
                max-width: 600px;
            }
            table {
                width: 70%;
            }
        }
        /************ VOG ******************/
        
        blockquote {
            font-style: italic;
            margin: 4em 2em;
            padding: 1em;
            text-align: center;
            background-color: var(--alternate-bg-color);
            color: var(--alternate-color);
        }
        /********** HR *********************/
        
        hr {
            margin: 50px;
        }
        /************ Table ****************/
        
        table {
            display: table;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid var(--main-border-color);
            border-collapse: collapse;
        }
        
        th {
            padding: .5em;
            color: var(--main-bg-color);
            background: var(--table-header-bg-color);
            border: 1px solid var(--main-border-color);
            font-family: "abeatbykai", "Lemon/Milk", "Myriad Pro", helvetica, sans-serif;
            font-size: 1.5em;
            font-weight: lighter;
            text-align: center;
        }
        
        td {
            font-size: 1em;
            padding: 10px;
            border: 1px solid var(--main-border-color);
        }
        
        td:nth-child(odd) {
            text-align: left;
            border-right: none;
        }
        
        td:nth-child(even) {
            text-align: right;
            border-left: none;
        }
        /* alternate line color */
        
        tr:nth-child(odd) {
            background-color: var(--alternate-bg-color);
        }
        /* Status Table */
        
        .status {
            display: table;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0px;
        }
        
        .status td:nth-child(odd) {
            width: 30%;
        }
        
        .status td:nth-child(even) {
            width: 70%;
        }
        /* Geno-r Table */
        
        .geno-r {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
        
        .geno-r td:nth-child(odd) {
            width: 50%;
        }
        
        .geno-r td:nth-child(even) {
            width: 50%;
        }
        /* Geno Table */
        
        .geno {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
        
        .geno td:nth-child(odd) {
            width: 50%;
        }
        
        .geno td:nth-child(even) {
            width: 50%;
        }
        /* Beast Table */
        
        .beast {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
        
        .beast td:nth-child(odd) {
            width: auto;
        }
        
        .beast td:nth-child(even) {
            width: auto;
        }
        /* Centered Tables */
        
        .center {
            display: table;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        
        .center td {
            text-align: center;
        }
        
        .center50 {
            display: table;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .center50 td {
            text-align: center;
        }
        
        .center70 {
            display: table;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .center70 td {
            text-align: center;
        }
        
        .ar {
            text-align: right;
        }
        
        .al {
            text-align: left;
        }
        
        .light {
            background-color: var(--alternate-bg-color);
        }
        
        .dark {
            background-color: var(--main-bg-color);
        }
        
        .note {
            font-weight: lighter;
            font-size: 60%;
        }
        
        .score {
            border: 1px;
        }
        /* Table Div */
        
        .tables table {
            margin-bottom: 0px;
            margin-top: 0px;
        }
        
        .tables table:last-child {
            margin-bottom: 50px;
        }
        
        .tables table:first-child {
            margin-top: 50px;
        }
        /* Article Div */
        
        .article {
            text-align: center;
            font-size: .6em;
            font-style: italic;
            width: 70%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 1.5em;
            background-color: var(--alternate-bg-color);
            color: var(--alternate-color);
        }
        
        .article-title {
            font-family: "abeatbykai";
            font-size: 2em;
            font-style: normal;
        }
        
        .article-sig {
            font-family: "Photograph Signature";
            font-size: 2em;
        }
        
        .article-reply {
            text-align: left;
            font-size: .6em;
            width: 70%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 1.5em;
            background-color: var(--alternate-bg-color);
            color: var(--alternate-color);
        }
        
        #titlepage {
            color: var(--main-bg-color);
        }